.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    height: 60vh;
    border: #747bff solid 2px;
}

.blankAvatar {
    display: flex;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    background-color: lightgray;
    align-items: center;
    justify-content: center;
}