.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    padding: 10px;
    width: 20vw;
    min-height: 45vh;
    height: 100%;
    border: #747bff solid 2px;
}

.blankAvatar {
    display: flex;
    height: 10rem;
    width: 10rem;
    font-size: 28px;
    font-weight: bold;
    border-radius: 50%;
    background-color: lightgray;
    align-items: center;
    justify-content: center;
}